html {
	background: black;
	color: white;
	cursor: none;
	margin:0;
	padding: 0;

}
body {
	margin:0;
	padding: 0;
}
#scene {
	position: absolute;
	width: 100%;
	z-index: 4;
	pointer-events: none;
}
#sceneBG {
	position: absolute;
	width: 100%;
	z-index: 2;
	pointer-events: none;
}
.rectred {
	width: 190px;
	height: 100vh;
	position: absolute;
	z-index: 5;
	top: 32px;
	transform-origin: 25px 25px;
	pointer-events: none;
}
.svg_ball {
	position: absolute;
	width: 150px;
	height: 100vh;
	top: 45px;
	z-index: 3;
	border-radius: 100%;
	animation: targetmoove 12s infinite;
}
.sheepsound {
}
.scoreItem {
	position: absolute;
	width: 80px;
	height: 100vh;
	top: 32px;
	z-index: 3;
	border-radius: 100%;
	animation: targetmoove 12s infinite;
	pointer-events: none;
	text-align: center;
}


.show {
	display: block;
}
.hidde {
	display: none !important;
	animation: none !important;
}
@keyframes targetmoove {
	0% {
		left:0%;
	}
	50% {
		left:100%;
	}
	100% {
		left:0%;
		
	}
}
#ball svg {
	pointer-events: none;

}
.scorePan {
	color: green;
	font-size: 25px;
	font-family: helvetica;
	text-transform: uppercase;
	background: black;
	padding: 25px;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	width: 33vw;
	display: block;

}

.score_number {
	color: yellow;
	padding: 10px;
	text-align: center;
	display: inline-block;
}
